@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.Navbar{
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 70px;
}

.Navbar label
{
    float: left;
    margin:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;    
    animation: colorchange 5s infinite;
    animation-duration: 5s;
    background-color: white;
    padding: 15px;
    border: 5px solid white;
    border-radius: 15px;
}

@keyframes colorchange {
    0% {
      color: #05abe7;
     
    }
    50% {
      color: #032a8d;
    
    }
    100% {
      color: #05abe7;
      
    }
}

.Navbar a
{
    float: right;
    margin:20px;
    font-family: 'Roboto', sans-serif;
}





