.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(133, 3, 3);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Wallpaper{

  
  opacity: 0; 
  transition: opacity 1s ease;
  width: cover;
  height: 500px;
  background-image: url(the-future-of-web-development.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  
  
}
.Wallpaper.show
{
  opacity: 2; /* Animáció befejezésekor megjelenítés */
}

.BackgroundOverlay {  
  opacity: 0; /* Kezdetben rejtett állapot */
  transition: opacity 2s ease;
  top: 0;
  left: 0;
  width: cover;
  height: 500px;
  background-color: rgba(71, 72, 73, 0.5); /* Átlátszó réteg színe és átlátszósága */
}
.BackgroundOverlay.show{
  opacity: 3;
}



